
<!--<div id="earth" [options]="earthChartOption"></div>-->
<svg  id="outside" viewBox=" 0 0 488 487" xmlns="http://www.w3.org/2000/svg">
	<defs>
	  <linearGradient id="myGradient" gradientTransform="rotate(90)">
		<stop offset="0%"  stop-color="#21d2e5"/>
		<stop offset="100%" stop-color="#2bf3d2"/>
	  </linearGradient>
	</defs>
	<circle cx="50%" cy="50%" r="240" class="dashed"/>
</svg>

<div id="inside" >
		<div id="triangle" class="lefttop"></div>
		<div id="triangle" class="righttop"></div>
		<div id="triangle" class="leftbottom"></div>
		<div id ="triangle" class="rightbottom"></div>	
</div>
<div id="earth"></div>
<img style="width:184px;height:76px;position:absolute;left:-4.5%;top:47%;z-index:3;" src="/assets/images/左指向.png">
<img  style="width:183px;height:76px;position:absolute;left:78.3%;top:47%;z-index:3;" src="/assets/images/右指向.png">
<img style="width:573px;height:94px;position:absolute;left:8%;top:95%;z-index:3;"src="/assets/images/底托.png">


<div class="center_title">
    <h2>订单总数</h2>
    <p>4800</p>
</div>
