/* You can add global styles to this file, and also import other style files */

html,body{
/*background-image: url("/assets/images/图层 5.png");
background-repeat: repeat;
width:100%;
height:96%;
*/
background-color: #000E3E;
background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0) 1px), linear-gradient(360deg, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0) 1px);
background-size: 80px 80px;
background-repeat: repeat;
background-position:center center;
}


