/* You can add global styles to this file, and also import other style files */

html,body{
/*background-image: url("/assets/images/图层 5.png");
background-repeat: repeat;
width:100%;
height:96%;
*/
background-color: #000E3E;
background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0) 1px), linear-gradient(360deg, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0) 1px);
background-size: 80px 80px;
background-repeat: repeat;
background-position:center center;
}

@font-face{
    font-family:DIN;
    src: url('/assets/font/DIN.ttf');
    font-weight:bolder;

}
@font-face{
    font-family:HunDIN1451-1;
    src:url('/assets/font/HunDIN1451-1.ttf');
}
@font-face{
    font-family:DIN-Regular-2;
    src:url('/assets/font/DIN-Regular-2.otf');
}
@font-face{
    font-family:DIN-Condensed-Bold-2;
    src:url('/assets/font/DIN-Condensed-Bold-2.ttf');
}
@font-face{
  font-family:Microsoft Yahei;
  src:url('/assets/font/msyh.ttf');

}
@font-face{
    font-family:Microsoft Yahei Bold;
    src:url('/assets/font/msyhbd.ttf');
}


