<!--标题-->
<div class="col-md-12">
  <div class="title_logo">
    <img style="width:100%;height:100%; "
      src="/assets/images/新云平台数据统计分析.png">
  </div>
</div>

<div class="grid-container">

  <div class="grid_item1">
    <div class="item1">
      <span class="title">订单统计</span>
      <div class="order_list">
        <ul class="order_listcol1">
          <li>今日受理:<span class="data">1659</span></li>
          <li>累计受理:<span class="data">18800</span></li>
        </ul>
        <ul class="order_listcol2">
          <li>今日办结:<span class="data">1519</span></li>
          <li>累计办结:<span class="data">16059</span></li>
        </ul>
        <ul class="order_listcol3">
          <li>办结率:<span class="data">98.26%</span> </li>
          <li>办结率:<span class="data">97.26%</span></li>
        </ul>
      </div>
       <app-order-line-chart></app-order-line-chart>
    </div>

  </div>

  <div class="grid_item2">

    <!--地球-->
    <div class="item2">
      <img style="width:108%;height:130%; margin-left:-38px;margin-top:-25px;"
      src="/assets/images/地球@2x.png">
    </div>

  </div>

  <div class="grid_item3">


    <!--产品记录-->


    <div class="item3_1">
      <span class="title">产品记录</span>
    </div>
    <!--生产任务-->
    <div class="item3_2">
      <span class="title">生产任务</span>
      <div class="task_display">
        <ul>
          <li class="task_listcol1">我的处理<span class="data_block">26件</span></li>
          <li class="task_listcol2">处理完成<span class="data_block">278件</span></li>
          <li class="task_listcol3">未达产品码<span class="data_block">13件</span></li>
          <li class="task_listcol4">其他<span class="data_block">8件</span></li>
        </ul>
        
      </div>
    </div>


    <!--生产展示-->
    <div class="item3_3">
      <span class="title">生产展示</span>
      
    </div>

  </div>

  <div class="grid_item4">
    <!--订单数量-->

    <div class="item4">
      <span class="title" style="position:relative;left:5px;">订单数量</span>
    </div>

  </div>

  <div class="grid_item5">

    <!--各车间生产统计-->
    <div class="item7">
      <span class="title">各车间生产统计</span>
    </div>

  </div>

  <div class="grid_item6">
    <!--生产产品统计-->

    <div class="item8">
      <span class="title">生产产品统计</span>
      <app-piechart></app-piechart>
    </div>


    <!--周期计划管理-->
    <div class="item9">
      <span class="title">周期计划管理</span>
      <app-periodplan-line-chart></app-periodplan-line-chart>
    </div>
  </div>



</div>





<!--
<div id="content">
  <header>Header</header>
  <main>Main</main>
  <section>Section</section>
  <aside>Aside</aside>
  <nav>Nav</nav>
  <footer>Footer</footer>
</div>

-->
