<!--标题-->
<div class="col-md-12">
  <div class="title_logo">
    <img style="width:100%;height:100%;"
      src="/assets/images/新云平台数据统计分析.png">
  </div>
</div>

<div class="grid-container">

    <div class="grid_item1">
      <p class="title">订单统计</p>
     
      <div class="order_list">
        <ul class="order_listcol1">
          <li>今日受理:<span class="data">1659</span></li>
          <li>累计受理:<span class="data">18800</span></li>
        </ul>
        <ul class="order_listcol2">
          <li>今日办结:<span class="data">1519</span></li>
          <li>累计办结:<span class="data">16059</span></li>
        </ul>
        <ul class="order_listcol3">
          <li>办结率:<span class="data">98.26%</span> </li>
          <li>办结率:<span class="data">97.26%</span></li>
        </ul>
      </div>
       <app-order-line-chart></app-order-line-chart>
    </div>
    
  

  

    <!--地球-->
    <div class="grid_item2">
    <!--<img style="width:108%;height:130%; margin-left:-38px;margin-top:-25px;"
      src="/assets/images/地球@2x.png">-->
  
      <!--层叠，不动的作为背景，动的作为图片插入-->
    
     <img style="width:765px;height:335px; margin-left:-37px;margin-top:255px; position:absolute"
      src="/assets/images/底托@2x.png">
      <!--虚线逆时针  -->
      <img id="outside" style="width:
      488px;height:487px;" src="/assets/images/外虚线圆@2x.png" >
      <!--内圈顺时针-->
     <img id="inside" style="width:441px;height:441px;" src="/assets/images/内圈 @2x.png">
    <img  id="earth" style="width:505px;height:478px;" src="/assets/images/中心地球@2x.png">
   
    </div>

  

  <div class="grid_item3">


    <!--产品记录-->


    <div class="item3_1">
      <p class="title">产品记录</p>
      <app-record-gauge-chart></app-record-gauge-chart>
    </div>
    <!--生产任务-->
    <div class="item3_2">
      <p class="title">生产任务</p>
      <div class="task_display">
        <ul>
          <li class="task_listcol1">我的处理<span class="data_block">26件</span></li>
          <li class="task_listcol2">处理完成<span class="data_block">278件</span></li>
          <li class="task_listcol3">未达产品码<span class="data_block">13件</span></li>
          <li class="task_listcol4">其他<span class="data_block">8件</span></li>
        </ul>
        
      </div>
    </div>


    <!--生产展示-->
    <div class="item3_3">
      <p class="title">生产展示</p>
      <app-production-bar-chart></app-production-bar-chart>
    </div>

  </div>

 
    <!--订单数量-->

    <div class="grid_item4">
      <span class="title" style="position:relative;left:5px;">订单数量</span>
      <app-issue-total-bar-chart></app-issue-total-bar-chart>
      <app-issue-top5-bar-chart></app-issue-top5-bar-chart>
    </div>

  

 <div class="girid_item5">

    <!--各车间生产统计-->
    <div class="item7">
      <p class="title">各车间生产统计</p>
     
      <img src="/assets/images/圆柱体 3.png">
      <img src="/assets/images/圆柱体2.png">
      <img src="/assets/images/圆柱体.png">
      <img src="/assets/images/圆柱体1.png">
      <img src="/assets/images/圆柱体4.png">
    
    </div>
  </div>
  

<div class="grid_item6">
    <!--生产产品统计-->

    <div class="item8">
      <p class="title">生产产品统计</p>
      <app-piechart></app-piechart>
    </div>


    <!--周期计划管理-->
    <div class="item9">
      <p class="title">周期计划管理</p>
      <app-periodplan-line-chart></app-periodplan-line-chart>
    </div>
  </div>

</div>








<!--
<div id="content">
  <header>Header</header>
  <main>Main</main>
  <section>Section</section>
  <aside>Aside</aside>
  <nav>Nav</nav>
  <footer>Footer</footer>
</div>

-->
