/*html.class名{

}
*/


/*background: color image repeat attachment position

背景图像的定位: center/left/right  (% %) (pos pos) 
*/





/*
z轴垂直屏幕，x轴水平方向，y轴垂直于x轴
设置为x旋转时，可以尝试 当前块元素的perpective：400px，=》“透视效果”
transform:rotateX(90deg);
transform:rotateY();
transform:rotateZ(1turn);
transform:translateX(10px)


动画的基本使用：
先定义好动画
再调用定义好的动画
div{
    transform:rotatez(40deg) translate(200px);
}

/*振淼：
标题：    18px    =1.125em
内部字体：14px    约1.143em

*/

/*网格线
background-color: #000E3E;
background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0) 1px), linear-gradient(360deg, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0) 1px);
background-size: 80px 80px;
background-repeat: repeat;
background-position:center center;
*/


/*订单统计
文字:px;
数字:em;
*/

 /* text-indent:2px;*//*文字缩进*/
    /*letter-spacing:1px;
    line-height:1px;
    word-spacing:10px;*/
   /* white-space: nowrap;*//*不换行*/
}
/*
@font-face{
    font-family:myFirstFont;
    src:url();
    font-stretch:condensed;
    font-style:normal;
    font-weight: bold;
    unicode-range:unicode-range;
}
*/